# Explanation of the environment variables and their values
# Create a .env file in the root of the project based on this file.

# Application environment (e.g., 'dev' for development, 'prod' for production)
SERVER__ENV=dev
# Port number on which the server will listen for incoming requests
SERVER__PORT=8000
# Domain name or IP address of the server (e.g., 'localhost' for local development, 'example.com' for production)
SERVER__HOST=localhost
# Flag to enable or disable debug mode (e.g., for development, set to True to enable detailed error messages and auto-reloading)
SERVER__DEBUG=True
# Path to SSL certificate file for HTTPS. If not set, the server will run in HTTP mode.
SERVER__SSL_CERTFILE=./certs/cert.pem
# Path to SSL key file for HTTPS. If not set, the server will run in HTTP mode.
SERVER__SSL_KEYFILE=./certs/key.pem
# Comma-separated list of allowed domains for "Host" header validation (* means all)
SERVER__ALLOWED_HOSTS=*
# Whether the app is behind a proxy (e.g., when using HTTPS redirection). If True, the app will trust the X-Forwarded-Proto header to determine if the original request was HTTP or HTTPS.
SERVER__BEHIND_PROXY=False

# Comma-separated list of allowed origins (* means all)
CORS__ALLOW_ORIGINS=*
# Comma-separated list of allowed HTTP methods (* means all)
CORS__ALLOW_METHODS=*
# Comma-separated list of allowed headers (* means all)
CORS__ALLOW_HEADERS=X-Requested-With,X-Request-ID
# Comma-separated list of headers to expose to the browser (* means all)
CORS__EXPOSE_HEADERS=X-Request-ID

# Database connection URL (e.g., for SQLite, PostgreSQL, MySQL). For SQLite, the format is 'sqlite+aiosqlite:///./path/to/db.sqlite' for async support.
DATABASE__URL=sqlite+aiosqlite:///./.test.db

# File path for log output. If empty, logs will be printed to the console.
LOG__PATH=./.logs/app.log
# List of URL path prefixes to exclude from access logging (e.g., for static files, health checks, or admin routes)
LOG__ACCESS_LOG_EXCLUDED_PATH_PREFIXES=openapi.json,docs,redoc,health,admin

# URL of the storage backend for rate limiting
RATE_LIMIT__STORAGE_URI=memory://
# Rate limit string (e.g., '5/second', '100/hour') for the default limit applied to all endpoints
RATE_LIMIT__ROOT_LIMIT=5/second

# Maximum number of records that can be returned in a single page of results
QUERY__MAX_RECORDS_PER_PAGE=100
